.area-title{
    padding: 35px 35px 0px 35px;
    width: 431px;
    height: 52px;
    font-family: Roboto-Ligth;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.61;
    text-align: left;
    color: #ed1d24;
}