.character-area-container{
    width: 94%;
    min-height: 1080px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(69, 91, 99, 0.08);
    background-color: #ffffff;
    margin: 3%;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;    
}

.area-title{
    padding: 35px 35px 0px 35px;
    width: 431px;
    height: 52px;
    font-family: Roboto-Ligth;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.61;
    text-align: left;
    color: #ed1d24;
}